/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.container {
    width: 70%;
    margin: auto;
}
.transform {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* buttons */
.btn {
    display: inline-block;
    line-height: normal;
    background-color: #0061ff;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
}
.hero-footer-container {
    margin: auto;
    width: 80%;
}
/* typo */
body {
    font-family: 'Open Sans', sans-serif;
}
.title-section {
    font-size: 40px;
}
.sub-title-section {
    font-size: 25px;
}

/* intestazione */
header {
    height: 80px;
    line-height: 80px;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    width: 100%;
}
header .logo-img img {
    vertical-align: text-bottom;
    padding-left: 15px;
}
header nav ul li {
    display: inline-block;
    margin-left: 30px;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}
.header-right nav ul li {
    margin: 0 30px 0 0;
}
header .start {
    padding-right: 15px;
}
/* corpo */
/* hero */
.hero {
    padding-top: 80px;
    background-color: #b4d0e7;
}
.hero .hero-footer-container {
    transform: translate(0, 70px);
}
.hero-footer-container h1 {
    font-size: 70px;
}
.hero-body {
    margin-top: 30px;
}
.hero-body .caption {
    width: 30%;
}
.hero-body .caption p:nth-child(3) {
    font-size: 90%;
}
.hero-body .caption .free-trial {
    margin: 25px 0 10px 0;
}
.hero-body .caption i {
    font-size: 40px;
    margin-top: 30px;
}
.hero-img {
    width: calc(70% - 80px);
    margin-left: 70px;
}
.hero-img img {
    width: 100%;
}
/* tariffs */
.tariffs {
    margin-top: 180px;
}
/* radio */
.tariffs .annual-monthly {
    margin: 70px 0 40px 0;
}
.annual-monthly label[for=monthly] {
    margin-right: 15px;
}
/* colonne */
.tariffs .columns-plans .col {
    width: calc(100% / 3 - 40px);
    min-height: 1250px;
}
.tariffs .col {
    border: 1px solid #d4d4d7;
}
.tariffs .col.middle {
    margin: 0 60px 0;
}
.tariffs .col .col-header {
    text-align: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #d4d4d7;
}
.col-header h5 {
    font-size: 16px;
}
.tarbuisness .col-header h5 {
    font-size: 18px;
}
.col-container {
    margin: auto;
    margin: 20px 30px 0 30px;
}
.tariffs .col .price {
    font-weight: bolder;
    margin: 20px 0 10px 0;
    font-size: 18px;
}
.tariffs .col .price-info {
    color: #788691;
}
.tariffs .col .plan-benefits-list {
    list-style: none;
}
.tariffs .col .plan-benefits-list .user-number {
    margin: 60px 0 40px 0;
}
.tariffs .col .plan-benefits-list .archive-space {
    margin-bottom: 35px;
}
.tariffs .col .btn.trial {
    width: 100%;
    text-align: center;
    margin: 55px 0 35px 0;
}
.tariffs .col .buy-now a {
    color: #166eff;
}
.tariffs .col .buy-now span {
    padding-bottom: 35px;
    border-bottom: 1px solid #d9d9dc;
}
.tariffs .col .list-title {
    margin: 80px 0 35px 0;
    font-size: 18px;
}
.tariffs .col .list-main-features {
    list-style: none;
    padding-left: 20px;
}
.tariffs .col .list-main-features li {
    margin-bottom: 35px;
}
.list-main-features li::before {
    font-family: 'Font Awesome 5 free';
    content: "\f00c";
    display: inline-block;
    font-weight: 900;
    margin-left: -20px;
    color: #0061ff;
}
/* piano imprese */
.tariffs .enterprise-plan {
    margin-top: 50px;
    position: relative;
}
.enterprise-plan p {
    margin: 40px 0 35px 0;
}
.enterprise-plan .btn {
    position: absolute;
    top: 75px;
    right: 30px;
    padding: 8px 70px;
}

/* sezione partner */
.partner {
    margin-top: 150px;
}
.partner .img img {
    width: 100%;
}
.partner .img {
    width: 55%;
}
.partner .caption {
    width: calc(45% - 50px);
    margin: 50px 0 0 50px;
}
.partner .caption p {
    margin: 45px 0 35px 0;
}
.partner .btn {
    color: black;
    background-color: white;
    border: 1px solid black;
}

/* sezione operazioni */
.buisness {
    margin-top: 120px;
}
.buisness .title-section {
    margin-bottom: 80px;
}
.buisness .sub-title-section {
    margin: 15px 0 30px 0;
}
.buisness .row .column {
    width: calc(100% / 3 - 160px / 3);
}
.buisness .row .column.middle {
    margin: 0 80px 0 80px;
}
.column .buisness-img img {
    width: 100%;
}
.column p span {
    text-decoration: underline;
}
.buisness .row:nth-child(2) {
    margin-bottom: 125px;
}

/* sezione team */
.team {
    margin-top: 220px;
}
.team-header a {
    color: #0061ff;
    display: inline-block;
    margin: 50px 0 50px 0;
}
/* colonne laterali */
.row-team .col-team {
    width: 30%;
}
.row-team .col-team.middle {
    width: 40%;
}
.col-team .row .col {
    width: 50%;
    padding-bottom: 50%;
    position: relative;
}
.col-team .row .col img {
    width: 50%;
}
.box-for-border {
    height: 100%;
    width: 100%;
}
.col:hover .box-for-border {
    width: 92%;
    height: 92%;
}
.col.designit {
    background-color: rgba(162, 211, 155, 0.5);
}
.col.designit .box-for-border {
    background-color: rgb(162, 211, 155);
    
}
.col.asu {
    background-color: rgba(97, 8, 43, 0.5);
}
.col.asu .box-for-border {
    background-color: rgb(97, 8, 43);
}
.col.uf {
    background-color: rgba(0, 147, 206, 0.5);
}
.col.uf .box-for-border {
    background-color: rgb(0, 147, 206);
}
.col.topps {
    background-color: rgba(255, 28, 28, 0.5);
}
.col.topps .box-for-border {
    background-color: rgb(255, 28, 28);
}
.col.wbr {
    background-color: rgba(213, 0, 31, 0.5);
}
.col.wbr .box-for-border {
    background-color: rgb(213, 0, 31);
}
.col.hearts {
    background-color: rgba(180, 208, 231, 0.5);
}
.col.hearts .box-for-border {
    background-color: rgb(180, 208, 231);
}
.col.lonelyplanet {
    background-color: rgba(13, 36, 129, 0.5);
}
.col.lonelyplanet .box-for-border {
    background-color: rgb(13, 36, 129);
}
.col.clearchannel {
    background-color: rgba(255, 216, 48, 0.5);
}
.col.clearchannel .box-for-border {
    background-color: rgb(255, 216, 48);
}
/* colonna centrale */
.row-team .col-team.middle {
    background-color: #f5f5f5;
    padding-bottom: 30%;
    position: relative;
    overflow: auto;
}
.container-col-team {
    position: absolute;
    margin: 50px 50px 0 50px;
}
.col-team.middle .logo-img-designit {
    height: 40px;
    margin-bottom: 40px;
}

.col-team.middle hr {
    width: 50px;
    background-color: #d4d4d7;
}
.col-team.middle p {
    margin: 60px 0 60px 0;
}

/* sezione call to action */
.call-to-action {
    background-color: #b4d0e7;
}
.call-to-action .container {
    padding: 125px 0 125px 0;
}
.cta-text, .cta-btn {
    width: 50%;
}
.cta-text .title-section {
    color: #61082b;
}
.cta-btn .btn {
    background-color: white;
    color: black;
    padding: 8px 60px 8px 60px;
}
.cta-btn {
    text-align: right;
}

/* sezione FAQ */
.faq {
    margin-top: 140px;
}
.faq .title-section {
    margin-bottom: 60px;
}
.faq ul {
    list-style: none;
}
.faq li {
    padding: 40px 0 40px 0;
    border-top: 1px solid #d4d4d7;
    font-weight: bold;
}
.faq li:last-child {
    border-bottom: 1px solid #d4d4d7;
}
.faq li span.float-right i {
    font-size: 22px;
    vertical-align: text-top;
    margin-right: 40px;
}

/* footer */
footer {
    background-color: #08090e;
    margin-top: 125px;
}
footer .hero-footer-container {
    padding-top: 110px;
}
.footer-top nav {
    margin-bottom: 110px;
}
.footer-top nav .col .sub-title-section {
    margin-bottom: 35px;
    color: white;
}
.footer-top nav .col ul {
    list-style: none;
    line-height: 2.2;
}
.footer-top nav .col ul li a {
    text-decoration: none;
    color: white;
}
.footer-top nav .col {
    width: calc(100% / 5 - 80px);
}
.footer-top nav .col:nth-child(even) {
    margin: 0 100px;
}
footer hr {
    width: 110px;
    background-color: white;
}
.footer-bottom .language-choice {
    color: #999999;
    padding: 55px 0 45px 0;
}
.language-choice .fa-globe-europe {
    font-size: 18spx;
}
.footer-bottom .language-choice select {
    border: none;
    background-color: #08090e;
    color: #999999;
    appearance: none;   
}




