/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.clearfix {
  content: "";
  clear: both;
  display: table;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
/* buttons */
.btn {
    display: inline-block;
    line-height: normal;
    background-color: #0061ff;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
}

/* typo */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
}

/* intestazione */
header {
    height: 80px;
    line-height: 80px;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    width: 100%;
}
header .logo-img img {
    vertical-align: middle;
    padding-left: 15px;
}
header nav ul li {
    display: inline-block;
    margin-left: 30px;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}
header nav.float-right ul li {
    margin: 0 30px 0 0;
}
header .start {
    padding-right: 15px;
}

/* corpo */
.hero {
    height: 740px;
    background-color: #b4d0e7;
}
.hero-container {
    margin: auto;
    width: 80%;
    position: relative;
    top: 150px;
}
.hero-container h1 {
    font-size: 70px;
}
.hero-body {
    margin-top: 30px;
}
.hero-body .caption {
    width: calc(40% - 90px);
    margin-right: 90px;
}
.hero-body .caption p:first-child {
    margin-bottom: 25px;
}
.hero-body .caption .free-trial {
    margin-bottom: 10px;
}
.hero-body .caption i {
    font-size: 40px;
    margin-top: 30px;
}
.hero-img {
    width: 60%;
}
.hero-img img {
    width: 100%;
}