/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
.clearfix:after {
  content: "";
  clear: both;
  display: table;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.container {
    width: 70%;
    margin: auto;
}
/* buttons */
.btn {
    display: inline-block;
    line-height: normal;
    background-color: #0061ff;
    padding: 8px 20px;
    color: #fff;
    text-decoration: none;
}

/* typo */
body {
    font-family: 'Open Sans', sans-serif;
}

/* intestazione */
header {
    height: 80px;
    line-height: 80px;
    position: fixed;
    background-color: #fff;
    z-index: 10;
    width: 100%;
}
header .logo-img img {
    vertical-align: text-bottom;
    padding-left: 15px;
}
header nav ul li {
    display: inline-block;
    margin-left: 30px;
}
header nav ul li a {
    text-decoration: none;
    color: black;
}
.header-right nav ul li {
    margin: 0 30px 0 0;
}
header .start {
    padding-right: 15px;
}

/* corpo */
/* hero */
.hero {
    padding-top: 80px;
    background-color: #b4d0e7;
}
.hero-container {
    margin: auto;
    width: 80%;
    transform: translate(0, 70px);
}
.hero-container h1 {
    font-size: 70px;
}
.hero-body {
    margin-top: 30px;
}
.hero-body .caption {
    width: 30%;
}
.hero-body .caption p:nth-child(3) {
    font-size: 90%;
}
.hero-body .caption .free-trial {
    margin: 25px 0 10px 0;
}
.hero-body .caption i {
    font-size: 40px;
    margin-top: 30px;
}
.hero-img {
    width: calc(70% - 80px);
    margin-left: 70px;
}
.hero-img img {
    width: 100%;
}
/* tariffs */
.tariffs {
    margin-top: 180px;
}
.tariffs h2 {
    font-size: 40px;
}
/* radio */
.tariffs .annual-monthly {
    margin: 70px 0 40px 0;
}
.annual-monthly label[for=monthly] {
    margin-right: 15px;
}
/* colonne */
.tariffs .columns-plans .col {
    width: calc(100% / 3 - 40px);
    min-height: 1250px;
}
.col {
    border: 1px solid #d4d4d7;
}
.col.middle {
    margin: 0 60px 0;
}
.col-header {
    text-align: center;
    padding: 10px 0 10px 0;
    border-bottom: 1px solid #d4d4d7;
}
.col-header h5 {
    font-size: 18px;
}
.col-container {
    margin: auto;
    margin: 20px 30px 0 30px;
}

.col h3 {
    font-size: 25px;
}
.col .price {
    font-weight: bold;
    margin: 20px 0 10px 0;
    font-size: 18px;
}
.col .price-info {
    color: #788691;
}
.col .plan-benefits-list {
    list-style: none;
}
.col .plan-benefits-list .user-number {
    margin: 60px 0 40px 0;
}
.col .plan-benefits-list .archive-space {
    margin-bottom: 35px;
}
.col .btn.trial {
    width: 100%;
    text-align: center;
    margin: 55px 0 35px 0;
}
.col .buy-now a {
    color: #166eff;
}
.col .buy-now span {
    padding-bottom: 35px;
    border-bottom: 1px solid #d9d9dc;
}
.col .list-title {
    margin: 80px 0 35px 0;
    font-size: 18px;
}
.col .list-main-features {
    list-style: none;
    padding-left: 20px;
}
.col .list-main-features li {
    margin-bottom: 35px;
}
.list-main-features li::before {
    font-family: 'Font Awesome 5 free';
    content: "\f00c";
    display: inline-block;
    font-weight: 900;
    margin-left: -20px;
    color: #0061ff;
}
/* piano imprese */
.tariffs .enterprise-plan {
    margin-top: 50px;
    position: relative;
}
.enterprise-plan p {
    margin: 40px 0 35px 0;
}
.enterprise-plan .btn {
    position: absolute;
    top: 75px;
    right: 30px;
    padding: 8px 70px;
}

/* sezione partner */
.partner {
    margin-top: 150px;
}
.partner .img img {
    width: 100%;
}
.partner .img {
    width: 55%;
}
.partner .caption {
    width: calc(45% - 50px);
    margin: 50px 0 0 50px;
}
.partner .caption h3 {
    font-size: 25px;
}
.partner .caption p {
    margin: 45px 0 35px 0;
}
.partner .btn {
    color: black;
    background-color: white;
    border: 1px solid black;
}
